html {
   text-align: center;
}

h6 {
    text-align: center;
    font-size: 15px;
}

img {
    height: 100px;
    width: 100px;
    text-align: center;
}

#awards {
    font-size: 10px;
}

#heading {
    font-size: 20px;
}
.imgs
{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.imgs img
{
  width: 100%;
  height:300px;
} 

.imgs hr
{
    width: 100%; 
}

.imgs , .travel_mainDiv p
{
margin-left: 20px;
}
